@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');

@font-face {
    font-family: "Cloud";
    src: url(assets/cloud-semibold-webfont.ttf);
}
/* Removed white border */
html,
body {
	padding: 0;
	margin: 0;
    background-color: #364572;
}

.App {
	font-family: "DM Sans", sans-serif;
    color: #FFFFFF;
    background-color: #364572;
}

/* TODO Make different background for different aspect ratios */
.App-background {
	background-image: url("./assets/testsvg2.svg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	height: 100vh;
}

/* Look to fix overflow issue */
.App-body {
    margin-right: 30%;
    padding-top: 3%;
    max-height: 100vh;
    background-color: transparent;
}

.Form-main {
	display: flex;
	flex-direction: column;
	padding: auto;
	margin: auto;
}

.Container-grid {
	display: grid;
	grid-template-rows: repeat(4, auto);
	grid-template-columns: (1, auto); 
	gap: 2%;
	width: 80%;
	margin: 0 auto;
    text-align: left;
}
.Container-title {
	padding: 10px;
    font-size: 400%;
    width: 80%;
}

.Container-paragraph1 {
	padding: 10px;
    font-size: 150%;
    text-align: justify; 
}

.Container-paragraph2 {
	padding: 10px; 
    font-size: 150%; 
    text-align: justify;  
}

/* Cloud semi-bold */
.Container-form {
    margin-top: 1%;
	padding: 1%; 
    border-radius: 5px;
    background-color: #c1dcff;
    color: #364572;
    font-family: "Cloud";
    font-size: 120%;
    width: 60%;
}

.Container-form-text {
    color: #364572;
    font-family: "Cloud";
    font-style: italic;
}

.Container-form-name{
    background: #FFFFFF;
    margin-top: 2%;
    border: 0px;
    border-radius: 3px;
    margin-left: 5px;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: "Cloud";
    font-size: 80%;
}

.Container-form-email{
    background: #FFFFFF;
    margin-top: 2%;
    border: 0px;
    border-radius: 3px;
    margin-left: 5px;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 40%;
    font-family: "Cloud";
    font-size: 80%;
}

.Container-submit{
    margin-top: 2%;
    color: #364572;
    cursor: pointer;
    border-color: #364572;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    font-family: "Cloud";
    font-size: 100%;
    cursor: pointer;
    width: 100%;    
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;}

.Container-submit:hover {
    background-color: #ffbc92; 
    transform: scale(1.02);
}